<!DOCTYPE html>
<html>
    <head>
        <title>Blindfold Trainer</title>
    </head>
    <body>
        <hr>
            Hello and welcome to <strong>${sitename}</strong>
        <hr>
    </body>
</html>
